// Add your variables here

$background: #0F1327;
$containerBg: linear-gradient(0deg, #0F1327 0%, #191F40 97.36%);
$text: #FFFFFF;
$secondaryText: rgba(255, 255, 255, 0.5);
$font: 'Poppins', sans-serif;

// Media Queries breakpoints

$sm: '375px';
$md: '768px';
$lg: '1024px';
$xl: '1440px';